__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.prod
.env.*
.git
.gitignore
*.log
.idea/
.vscode/
tests/
Dockerfile.*
docker-compose.*
docker-compose.prod*
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
